@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400;700&family=Nunito:wght@400;700&display=swap');

#local {
    display: flex;
    flex-direction: row;
    color: #e9dbc5;
    margin: 100px;
}

h1 {
    font-size: 5rem;
    font-family: 'Bebas Neue', serif;
}

@media (max-width:600px){


}