<div class="login-page">
  <div class="login-container">

    <div class="login-image">
      <div class="overlay">
        <div class="logo">
          <img src="logotipo.png" alt="Café Aroma" />
        </div>
        <p>
          Mais que café,<br />
          <strong>momentos especiais.</strong>
        </p>
      </div>
    </div>

    <div class="login-form">

      <!-- Se JÁ estiver logado, mostra essa tela em vez do formulário -->
      <div *ngIf="auth.estaLogado">
        <div class="form-header">
          <h2>Você já está logado!</h2>
          <p>{{ auth.usuarioLogado()?.email }}</p>
        </div>

        <button type="button" class="btn-login" (click)="sair()">SAIR</button>
      </div>

      <!-- Se NÃO estiver logado, mostra o formulário normal -->
      <div *ngIf="!auth.estaLogado">
        <div class="form-header">
          <span class="coffee-icon"></span>
          <h2>Bem-vindo(a)!</h2>
          <p>Entre na sua conta para continuar</p>
        </div>

        <form (ngSubmit)="entrar()" novalidate>

          <div class="input-group">
            <label for="email">E-mail</label>
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="email"
              placeholder="Digite seu e-mail"
            />
            <p class="erro-login" *ngIf="erroEmail">{{ erroEmail }}</p>
          </div>

          <div class="input-group">
            <label for="senha">Senha</label>
            <div class="password-input">
              <input
                type="password"
                id="senha"
                name="senha"
                [(ngModel)]="senha"
                placeholder="Digite sua senha"
              />
            </div>
            <p class="erro-login" *ngIf="erroSenha">{{ erroSenha }}</p>
          </div>

          Ao clicar em "Entrar", você declara estar de acordo com os Termos de Uso e a Política de
          Privacidade do site.

          <button type="submit" class="btn-login">ENTRAR</button>
        </form>
      </div>

    </div>
  </div>
</div>

