

<!-- Container principal de todo o cardápio -->
 <div class="menu-container">
    <a routerLink="../home"> ← </a> 
    
    <div class="header-titulo">
         <!-- Nome da cafeteria -->
        <span>AROMA CAFÉ</span>
        <!-- Título principal -->
        <h1>Nosso Cardápio</h1>
    </div>

    <!-- Seção da Barra de Busca -->
    <div class="busca-secao">
        <input 
            type="text" 
            placeholder="Buscar item..." 
            [(ngModel)]="termoBusca" 
            class="input-busca"
        >
    </div>

    <!-- Filtros de Categoria -->
    <div class="categorias-botoes">
        <!-- Botão para mostrar todos os produtos -->

        <!-- A classe "ativo" é adicionada quando Todos está selecionado -->
        <button [class.ativo]="categoriaSelecionada === 'Todos'" (click)="categoriaSelecionada = 'Todos'">Todos</button>
        
        <!-- Botão para mostrar somente os salgados -->
        <button [class.ativo]="categoriaSelecionada === 'Salgados'" (click)="categoriaSelecionada = 'Salgados'">Salgados</button>
        
        <!-- Botão para mostrar somente os doces -->
        <button [class.ativo]="categoriaSelecionada === 'Doces'" (click)="categoriaSelecionada = 'Doces'">Doces</button>
        
         <!-- Botão para mostrar somente os bebidas -->
        <button [class.ativo]="categoriaSelecionada === 'Bebidas'" (click)="categoriaSelecionada = 'Bebidas'">Bebidas</button>
        
    </div>

    <!-- SEÇÃO DE SALGADOS (Só aparece se 'Todos' ou 'Salgados' estiver selecionado) -->
    <section class="cardapio" *ngIf="categoriaSelecionada === 'Todos' || categoriaSelecionada === 'Salgados'">
         
        <!-- Título da categoria -->
        <h1>Comidas Salgadas</h1>
        <hr>
        <br>


        <div class="produtos">
            <div class="produto" *ngFor="let item of salgadosFiltrados">
                  <!-- Informações do produto -->
                   <div class="produto-info">
                    <span class="categoria-tag">SALGADOS</span>
                     <!-- Nome do produto -->
                    <h3>{{ item.nome }}</h3>
                     <!-- Descrição do produto -->
                    <p>{{ item.descricao }}</p>

                    <!-- =============================== -->
                    <!-- PREÇO DO PRODUTO -->
                    <!-- =============================== -->
                    <!--=======================================================
                        Verifica se o produto possui preço antigo.
                        Se tiver, mostra o preço promocional e o preço antigo.
                    ============================================================-->   
                
                    <ng-container *ngIf="item.precoAntigo; else precoNormal">
                        <span class="preco promocao">{{ item.preco }}</span>
                        <span class="preco-antigo">{{ item.precoAntigo }}</span>
                    </ng-container>
                    
                    <ng-template #precoNormal>
                        <span class="preco"><b>{{ item.preco }}</b></span>
                    </ng-template>
                </div>

                <img [src]="item.imagem" [alt]="item.nome">
                <button 
                type="button"
                class="btn-adicionar"
                (click)="adicionarAoCarrinho(item)">
                Adicionar ao carrinho
                </button>
            </div>
        </div>
    </section>

    <br>

    <!-- SEÇÃO DE SOBREMESAS (Só aparece se 'Todos' ou 'Doces' estiver selecionado) -->
    <section class="cardapio" *ngIf="categoriaSelecionada === 'Todos' || categoriaSelecionada === 'Doces'">
        <h1>Sobremesas</h1>
        <hr><br>

        <div class="produtos">
            <div class="produto" *ngFor="let item of sobremesasFiltradas">
                 <!-- Informações do produto -->
                <div class="produto-info">
                    <span class="categoria-tag">DOCES</span>
                     <!-- Nome do produto -->
                    <h3>{{ item.nome }}</h3>
                     <!-- Descrição do produto -->
                    <p>{{ item.descricao }}</p>

                    <ng-container *ngIf="item.precoAntigo; else precoNormalSobremesa">
                        <span class="preco promocao">{{ item.preco }}</span>
                        <span class="preco-antigo">{{ item.precoAntigo }}</span>
                    </ng-container>
                    
                    <ng-template #precoNormalSobremesa>
                        <span class="preco"><b>{{ item.preco }}</b></span>
                    </ng-template>
                </div>

                <img [src]="item.imagem" [alt]="item.nome">

                <button
                type="button"
                class="btn-adicionar"
                (click)="adicionarAoCarrinho(item)">
                Adicionar ao carrinho
                </button>
            </div>
        </div>
    </section>

    <!-- SEÇÃO DE BEBIDAS (Só aparece se 'Todos' ou 'bebidas' estiver selecionado) -->
    <section class="cardapio" *ngIf="categoriaSelecionada === 'Todos' || categoriaSelecionada === 'Bebidas'">
        <h1>Bebidas</h1>
        <hr><br>

        <div class="produtos">
            <div class="produto" *ngFor="let item of bebidas">
                 <!-- Informações do produto -->
                <div class="produto-info">
                    <span class="categoria-tag">BEBIDAS</span>
                     <!-- Nome do produto -->
                    <h3>{{ item.nome }}</h3>
                     <!-- Descrição do produto -->
                    <p>{{ item.descricao }}</p>

                    <ng-container *ngIf="item.precoAntigo; else precoNormalBebidas">
                        <span class="preco promocao">{{ item.preco }}</span>
                        <span class="preco-antigo">{{ item.precoAntigo }}</span>
                    </ng-container>
                    
                    <ng-template #precoNormalBebidas>
                        <span class="preco"><b>{{ item.preco }}</b></span>
                    </ng-template>
                </div>

                <img [src]="item.imagem" [alt]="item.nome">

                <button 
                type="button"
                class="btn-adicionar"
                (click)="adicionarAoCarrinho(item)">
                Adicionar ao carrinho
                </button>
            </div>
        </div>
    </section>


</div>



